In [43]:
import mysql.connector

In [44]:
mydb=mysql.connector.connect(
    host='localhost',
    user="root",
    passwd="anurag007",
    database="abhilashdb"
)

In [45]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x10d0d14d0>

In [12]:
mycursor=mydb.cursor()

In [14]:
mycursor.execute("CREATE DATABASE abhilashdb")

In [15]:
mycursor.execute("SHOW DATABASES")
for db in mycursor:
    print(db)

('abhilashdb',)
('information_schema',)
('mysql',)
('performance_schema',)
('sql_hr',)
('sql_inventory',)
('sql_invoicing',)
('sql_store',)
('sys',)
('TESTDB',)

In [21]:
mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE students(name VARCHAR(255),age INTEGER(10))")

In [22]:
mycursor.execute("SHOW TABLES")
for db in mycursor:
    print(db)

('students',)

In [23]:
#### inserting into the database

In [24]:
mycursor=mydb.cursor()
sqlformula="INSERT INTO students (name,age) values(%s,%s)"

In [25]:
students=[('abhi',26),
         ('anu',29),
         ('mani',27),
         ('ram',66),
         ('john',87),
         ('sonu',23),]
mycursor.executemany(sqlformula,students)
mydb.commit()

In [26]:
### extracting the data from database

In [27]:
mycursor=mydb.cursor()
mycursor.execute("SELECT * FROM students")

In [28]:
myresults=mycursor.fetchall()
for row in myresults:
    print(row)

('abhi', 26)
('anu', 29)
('mani', 27)
('ram', 66)
('john', 87)
('sonu', 23)

In [29]:
mycursor=mydb.cursor()
mycursor.execute("SELECT age FROM students")

In [30]:
myresults=mycursor.fetchall()
for row in myresults:
    print(row)

(26,)
(29,)
(27,)
(66,)
(87,)
(23,)

In [31]:
mycursor=mydb.cursor()
mycursor.execute("SELECT age FROM students")

In [32]:
myresults=mycursor.fetchone()
for row in myresults:
    print(row)

26

In [33]:
### WHERE AND WILD CARDS

In [52]:
import mysql.connector

In [53]:
mydb=mysql.connector.connect(
    host='localhost',
    user="root",
    passwd="anurag007",
    database="abhilashdb"
)

In [55]:
mycursor=mydb.cursor()
sql="SELECT * FROM students WHERE age=27"

In [56]:
mycursor.execute(sql)
myresult=mycursor.fetchall()
for result in myresult:
    print(result)

('mani', 27)

In [57]:
### WILD CARDS

In [58]:
mycursor=mydb.cursor()
sql="SELECT * FROM students WHERE name=%s"
mycursor.execute(sql,("abhi",))
my=mycursor.fetchall()
for i in my:
    print(i)

('abhi', 26)

In [59]:
### Update and Limit queries,OFFSET

In [60]:
## if we want to make changes in the db we need to commit()

In [61]:
sql="UPDATE students SET age=17 WHERE name='abhi'"

In [62]:
mycursor.execute(sql)
mydb.commit()

In [63]:
mycursor=mydb.cursor()

mycursor.execute("SELECT * FROM students LIMIT 5 OFFSET 1")
my=mycursor.fetchall()
for i in my:
    print(i)

('anu', 29)
('mani', 27)
('ram', 66)
('john', 87)
('sonu', 23)

In [64]:
### orderby

In [69]:
mycursor=mydb.cursor()
sql="SELECT * FROM students ORDER BY age DESC"
mycursor.execute(sql)
res=mycursor.fetchall()
for i in res:
    print(i)

('john', 87)
('ram', 66)
('anu', 29)
('mani', 27)
('sonu', 23)
('abhi', 17)

In [72]:
### delete and drop
sql="DELETE  FROM students WHERE age=17"
mycursor.execute(sql)
mydb.commit()